[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[dev-packages]
ipdb = "*"
ipython = "*"

[packages]
django = "*"
django-common-helpers = "*"
djangorestframework = "*"
django-filter = "*"
django-cors-headers = "*"
requests = "*"
