{% extends "base.html" %}
{% block content %}

  <h1 class="title">Registrar Incidencia</h1>

  <form action="." method="post" id="app">
    <div class="field">
      <label class="label ">Tipo de incidencia</label>
      <div class="control ">
        <span class="select">
          <select v-model="type" name="type" id="id_type">
            <option value="Casa">Casa</option>
            <option value="Objeto" selected>Objeto</option>
            <option value="Auto">Auto</option>
          </select>
        </span>
      </div>
    </div>

    <div class="field">
      <label class="label">Fecha de incidente</label>
      <div class="control ">
        <input v-model="issue_date" name="date" required id="id_date" type="date" />
        <div v-if="submitted && !issue_date" class="help is-danger">
          Este campo es requerido
        </div>
      </div>
    </div>

    <div class="field">
      <label class="label">Descripción</label>
      <div class="control ">
        <textarea v-model="description" name="description" required id="id_description" cols="40" rows="10" class="textarea"></textarea>
        <div v-if="submitted && description.length == 0" class="help is-danger">
          Este campo es requerido
        </div>
      </div>
    </div>

    <div class="box" v-for="(issueObject, index) in objects">

      <div class="level">
        <div class="level-left">
          <div class="level-item">
            <h4 class="title is-4">Objeto</h4>

          </div>

        </div>
        <div class="level-right">
          <div class="level-item"></div>
          <a v-if="objects.length > 1" v-on:click="removeObject(index)" href="#">Eliminar</a>
        </div>
      </div>


      <div class="field is-horizontal">
        <div class="field-label" >
          <label class="label">Nombre</label>
        </div>
        <div class="field-body">
          <div class="control ">
            <input v-model="issueObject.name" type="text" required class="input" />
            <div v-if="submitted && issueObject.name.length == 0" class="help is-danger">
              Este campo es requerido
            </div>
          </div>
        </div>
      </div>

      <div class="field is-horizontal">
        <div class="field-label" >
          <label class="label">Cantidad</label>
        </div>
        <div class="field-body">
          <div class="control ">
            <input v-model="issueObject.quantity" type="number" required class="input" />
          </div>
        </div>
      </div>

      <div class="field is-horizontal">
        <div class="field-label" >
          <label class="label">Descripción</label>
        </div>
        <div class="field-body">
          <div class="control ">
            <textarea v-model="issueObject.description" required cols="40" rows="5" class="textarea"></textarea>
            <div v-if="submitted && issueObject.description.length == 0" class="help is-danger">
              Este campo es requerido
            </div>

          </div>
        </div>
      </div>
    </div>

    <div class="field is-grouped">
      <div class="control">
        <div class="button is-info" v-on:click="addObject">Agregar Objecto</div>
      </div>
      <div class="control">
        <div class="button is-primary" v-bind:class="{'is-loading': loading }" v-on:click="submitIssue">Enviar</div>
      </div>
    </div>

  </form>

  <script>
    var app = new Vue({
      el: '#app',
      data: {
        issueDone: null,
        type: "Casa",
        description: "",
        loading: false,
        submitted: false,
        issue_date: null,
        objects: [
          { description: "", quantity: 1, name: "" }
        ]
      },
      methods: {
        addObject: function(){
          this.objects.push({
            description: "", quantity: 1, name: ""
          })
        },
        removeObject: function (position) {
          this.objects.splice(position, 1);
        },

        submitIssue: function () {
          var that = this;
          if (this.loading) {
            return
          }
          this.loading = true;

          this.$http.post('/issues/', {
            type: this.type,
            description: this.description,
            objects: this.objects,
            issue_date: this.issue_date
          }).then(function success (response) {
            this.submitted = true;
            window.location.replace(response.data.url);
            this.issueDone = response.data;
          }, function error () {
            this.submitted = true;
            that.loading = false;
          });
        }

      }
    })
  </script>

{% endblock %}