{% extends "base.html" %}
{% block content %}

  <div id="app">
    <div v-if="issue">
      <issue v-bind:issue="issue"></issue>
    </div>
  </div>

  {% include "issue/issue_component.html" %}

  <script>
    var app = new Vue({
      el: '#app',
      data: {
        issue: undefined
      },
      created: function () {
        this.getIssue();
      },
      methods: {
        getIssue: function () {
          var that = this;
          this.$http.get('{{ issue_url }}').then(function success (response) {
            this.issue = response.data;
          });
        }
      }
    })
    [{k: true, v: "Sí",}, {k: false, v: "No"}]
  </script>

{% endblock %}